.elementor-6 .elementor-element.elementor-element-aaa923e>.elementor-container {
    max-width: 1600px;
    min-height: 100vh;
}

.elementor-6 .elementor-element.elementor-element-aaa923e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6 .elementor-element.elementor-element-aaa923e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-6864d47>.elementor-element-populated {
    margin: 155px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-6 .elementor-element.elementor-element-8a3099a .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #F7931A;
}

.elementor-6 .elementor-element.elementor-element-8a3099a {
    z-index: 5;
}

.elementor-6 .elementor-element.elementor-element-e9f9178 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(50px/2);
}

.elementor-6 .elementor-element.elementor-element-e9f9178 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(50px/2);
}

.elementor-6 .elementor-element.elementor-element-e9f9178 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(50px/2);
    margin-left: calc(50px/2);
}

.elementor-6 .elementor-element.elementor-element-e9f9178 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-50px/2);
    margin-left: calc(-50px/2);
}

body.rtl .elementor-6 .elementor-element.elementor-element-e9f9178 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-50px/2);
}

body:not(.rtl) .elementor-6 .elementor-element.elementor-element-e9f9178 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-50px/2);
}

.elementor-6 .elementor-element.elementor-element-e9f9178 .elementor-icon-list-icon i {
    color: #F7931A;
    transition: color 0.3s;
}

.elementor-6 .elementor-element.elementor-element-e9f9178 .elementor-icon-list-icon svg {
    fill: #F7931A;
    transition: fill 0.3s;
}

.elementor-6 .elementor-element.elementor-element-e9f9178 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #BDFFFE;
}

.elementor-6 .elementor-element.elementor-element-e9f9178 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: #BDFFFE;
}

.elementor-6 .elementor-element.elementor-element-e9f9178 {
    --e-icon-list-icon-size: 35px;
    --e-icon-list-icon-align: center;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
    --icon-vertical-align: center;
    --icon-vertical-offset: 0px;
    z-index: 2;
}

.elementor-6 .elementor-element.elementor-element-e9f9178 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-6 .elementor-element.elementor-element-e9f9178 .elementor-icon-list-item>a {
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.elementor-6 .elementor-element.elementor-element-e9f9178 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-6 .elementor-element.elementor-element-e9f9178>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-f78aecc .elementor-repeater-item-abcd013 .elementor-button {
    color: #000000;
    background-color: #F7931A;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #03FDFA;
}

.elementor-6 .elementor-element.elementor-element-f78aecc .elementor-repeater-item-f3d2198 .elementor-button {
    color: #000000;
    background-color: #F7931A;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #03FDFA;
}

.elementor-6 .elementor-element.elementor-element-f78aecc .elementor-repeater-item-f79254d .elementor-button {
    color: #000000;
    background-color: #F7931A;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #03FDFA;
}

.elementor-6 .elementor-element.elementor-element-f78aecc .elementor-repeater-item-f37ecde .elementor-button {
    color: #000000;
    background-color: #F7931A;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #03FDFA;
}

.elementor-6 .elementor-element.elementor-element-f78aecc .elementor-repeater-item-4165668 .elementor-button {
    color: #000000;
    background-color: #F7931A;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #03FDFA;
}

.elementor-6 .elementor-element.elementor-element-f78aecc .elementor-repeater-item-a9b2eb2 .elementor-button {
    color: #000000;
    background-color: #F7931A;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #03FDFA;
}

.elementor-6 .elementor-element.elementor-element-f78aecc .uael-dual-button-wrap .uael-button-wrapper {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
}

.elementor-6 .elementor-element.elementor-element-f78aecc.uael-button-stack-none .uael-dual-button-wrap {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
}

.elementor-6 .elementor-element.elementor-element-f78aecc.uael-button-stack-desktop .uael-dual-button-wrap .uael-button-wrapper {
    margin-bottom: calc(10px / 2);
    margin-top: calc(10px / 2);
    margin-right: 0;
    margin-left: 0;
}

.elementor-6 .elementor-element.elementor-element-f78aecc.uael-button-stack-desktop .uael-dual-button-wrap .uael-button-wrapper:last-child {
    margin-bottom: 0;
}

.elementor-6 .elementor-element.elementor-element-f78aecc.uael-button-stack-desktop .uael-dual-button-wrap .uael-button-wrapper:first-child {
    margin-top: 0;
}

.elementor-6 .elementor-element.elementor-element-f78aecc {
    z-index: 4;
}

.elementor-6 .elementor-element.elementor-element-e8b5d3f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(50px/2);
}

.elementor-6 .elementor-element.elementor-element-e8b5d3f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(50px/2);
}

.elementor-6 .elementor-element.elementor-element-e8b5d3f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(50px/2);
    margin-left: calc(50px/2);
}

.elementor-6 .elementor-element.elementor-element-e8b5d3f .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-50px/2);
    margin-left: calc(-50px/2);
}

body.rtl .elementor-6 .elementor-element.elementor-element-e8b5d3f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-50px/2);
}

body:not(.rtl) .elementor-6 .elementor-element.elementor-element-e8b5d3f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-50px/2);
}

.elementor-6 .elementor-element.elementor-element-e8b5d3f .elementor-icon-list-icon i {
    color: #03FDFA;
    transition: color 0.3s;
}

.elementor-6 .elementor-element.elementor-element-e8b5d3f .elementor-icon-list-icon svg {
    fill: #03FDFA;
    transition: fill 0.3s;
}

.elementor-6 .elementor-element.elementor-element-e8b5d3f .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #BDFFFE;
}

.elementor-6 .elementor-element.elementor-element-e8b5d3f .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: #BDFFFE;
}

.elementor-6 .elementor-element.elementor-element-e8b5d3f {
    --e-icon-list-icon-size: 50px;
    --e-icon-list-icon-align: center;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
    --icon-vertical-align: center;
    --icon-vertical-offset: 0px;
    width: var(--container-widget-width, 20%);
    max-width: 20%;
    --container-widget-width: 20%;
    --container-widget-flex-grow: 0;
    top: 29px;
    z-index: 2;
}

.elementor-6 .elementor-element.elementor-element-e8b5d3f .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-6 .elementor-element.elementor-element-e8b5d3f>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 32px 0px 32px 0px;
    background-color: #000000;
    border-style: solid;
    border-color: #FFF304;
}

body:not(.rtl) .elementor-6 .elementor-element.elementor-element-e8b5d3f {
    left: 28px;
}

body.rtl .elementor-6 .elementor-element.elementor-element-e8b5d3f {
    right: 28px;
}

.elementor-6 .elementor-element.elementor-element-03c70aa {
    text-align: center;
}

.elementor-6 .elementor-element.elementor-element-4ea06cc .elementor-button {
    font-family: 'Arial MT', sans-serif;
    font-weight: 500;
    fill: #000000;
    color: #000000;
    background-color: #f7ec1a;
    border-radius: 5px;
}
.elementor-6 .elementor-element.elementor-element-4ea06cc .elementor-button:hover {
    font-family: 'Arial MT', sans-serif;
    font-weight: 500;
    fill: #000000;
    color: #000000;
    background-color: #ffffff;
    border-radius: 25px;
    transform: scale(1.5);
}

.elementor-6 .elementor-element.elementor-element-85aa60e .elementor-button {
    font-family: 'Arial MT', sans-serif;
    font-weight: 500;
    fill: #000000;
    color: #000000;
    background-color: #f7ec1a;
}
.elementor-6 .elementor-element.elementor-element-85aa60e .elementor-button:hover {
    font-family: 'Arial MT', sans-serif;
    font-weight: 500;
    fill: #000000;
    color: #000000;
    background-color: #ffffff;
    border-radius: 25px;
    transform: scale(2);
}

.elementor-6 .elementor-element.elementor-element-95dd8c8 {
    text-align: center;
    width: var(--container-widget-width, 134.403%);
    max-width: 134.403%;
    --container-widget-width: 134.403%;
    --container-widget-flex-grow: 0;
}

.elementor-6 .elementor-element.elementor-element-95dd8c8 .elementor-heading-title {
    color: #F7931A;
    font-family: 'Arial MT', sans-serif;
    font-size: 92px;
    font-weight: 600;
    
    text-shadow: 7px 0px 0px #000000;
}

.elementor-6 .elementor-element.elementor-element-81a1dde {
    text-align: center;
}

.elementor-6 .elementor-element.elementor-element-81a1dde .elementor-heading-title {
    color: #000000;
    font-family: 'Arial MT', sans-serif;
    font-size: 34px;
    font-weight: 400;
}

.elementor-6 .elementor-element.elementor-element-43854a1 .elementor-wrapper {
    --video-aspect-ratio: 1.77777;
}

.elementor-6 .elementor-element.elementor-element-1b2d5d1>.elementor-widget-container {
    margin: 0px 0px 0px -1px;
    padding: 0px 0px 0px 0px;
    --e-transform-rotateZ: 39deg;
}

.elementor-6 .elementor-element.elementor-element-1b2d5d1 {
    width: var(--container-widget-width, 136.238%);
    max-width: 136.238%;
    --container-widget-width: 136.238%;
    --container-widget-flex-grow: 0;
    top: 113px;
}

body:not(.rtl) .elementor-6 .elementor-element.elementor-element-1b2d5d1 {
    right: -206.9px;
}

body.rtl .elementor-6 .elementor-element.elementor-element-1b2d5d1 {
    left: -206.9px;
}

.elementor-6 .elementor-element.elementor-element-b11e346>.elementor-container {
    min-height: 1080px;
}

.elementor-6 .elementor-element.elementor-element-b11e346 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6 .elementor-element.elementor-element-b11e346>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-db26101 .elementor-wrapper {
    --video-aspect-ratio: 1.77777;
    width: 70vw;
    margin-left:-16vw;
}
@media screen and (max-width: 580px) {
    .elementor-6 .elementor-element.elementor-element-db26101 .elementor-wrapper {
        --video-aspect-ratio: 1.77777;
        width: 90vw;
        margin-left:0;
    }
  }
.elementor-6 .elementor-element.elementor-element-40b8e15>.elementor-container {
    min-height: 1080px;
}

.elementor-6 .elementor-element.elementor-element-40b8e15 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6 .elementor-element.elementor-element-40b8e15>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-9ee69ad>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-04429bc .gallery-item {
    padding: 0 43px 43px 0;
}

.elementor-6 .elementor-element.elementor-element-04429bc .gallery {
    margin: 0 -43px -43px 0;
}

.elementor-6 .elementor-element.elementor-element-04429bc .gallery-item img {
    border-style: groove;
}

.elementor-6 .elementor-element.elementor-element-04429bc .gallery-item .gallery-caption {
    display: none;
}

.elementor-6 .elementor-element.elementor-element-726c957 {
    text-align: center;
}

.elementor-6 .elementor-element.elementor-element-726c957 .elementor-heading-title {
    color: #D22CFF;
    font-family: "Abril Fatface", Sans-serif;
    font-weight: 400;
    font-style: oblique;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #7FFF7B;
    stroke: #7FFF7B;
}

.elementor-6 .elementor-element.elementor-element-c29c459 {
    text-align: center;
}

.elementor-6 .elementor-element.elementor-element-c29c459 .elementor-heading-title {
    color: #D22CFF;
    font-family: "Abril Fatface", Sans-serif;
    font-weight: 400;
    font-style: oblique;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #7FFF7B;
    stroke: #7FFF7B;
}

.elementor-6 .elementor-element.elementor-element-c06d533 .elementor-wrapper {
    --video-aspect-ratio: 1;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-6 .elementor-element.elementor-element-c06d533>.elementor-widget-container {
    padding: 0px 0px 82px 0px;
}

.elementor-6 .elementor-element.elementor-element-6076594>.elementor-container {
    min-height: 1080px;
}

.elementor-6 .elementor-element.elementor-element-6076594 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6 .elementor-element.elementor-element-6076594>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-6cd5197>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-537a66b .gallery-item {
    padding: 0 43px 43px 0;
}

.elementor-6 .elementor-element.elementor-element-537a66b .gallery {
    margin: 0 -43px -43px 0;
}

.elementor-6 .elementor-element.elementor-element-537a66b .gallery-item img {
    border-style: groove;
}

.elementor-6 .elementor-element.elementor-element-537a66b .gallery-item .gallery-caption {
    display: none;
}

.elementor-6 .elementor-element.elementor-element-aa4ef16>.elementor-container {
    min-height: 1080px;
}

.elementor-6 .elementor-element.elementor-element-aa4ef16 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6 .elementor-element.elementor-element-aa4ef16>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-3146ddb {
    text-align: center;
}

.elementor-6 .elementor-element.elementor-element-3146ddb .elementor-heading-title {
    color: #03FDFA;
}

.elementor-6 .elementor-element.elementor-element-f0690e9 .elementor-wrapper {
    --video-aspect-ratio: 1.77777;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
@media screen and (max-width: 600px) {
    .elementor-6 .elementor-element.elementor-element-f0690e9 .elementor-wrapper {
        --video-aspect-ratio: 1.77777;
        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
  }
.elementor-6 .elementor-element.elementor-element-ac70925 {
    text-align: center;
}

.elementor-6 .elementor-element.elementor-element-ac70925 .elementor-heading-title {
    color: #03FDFA;
}

@media(max-width:1024px) {
    .elementor-6 .elementor-element.elementor-element-f78aecc.uael-button-stack-tablet .uael-dual-button-wrap .uael-button-wrapper {
        margin-bottom: calc(10px / 2);
        margin-top: calc(10px / 2);
        margin-right: 0;
        margin-left: 0;
    }

    .elementor-6 .elementor-element.elementor-element-f78aecc.uael-button-stack-tablet .uael-dual-button-wrap .uael-button-wrapper:last-child {
        margin-bottom: 0;
    }

    .elementor-6 .elementor-element.elementor-element-f78aecc.uael-button-stack-tablet .uael-dual-button-wrap .uael-button-wrapper:first-child {
        margin-top: 0;
    }
}

@media(max-width:767px) {
    .elementor-6 .elementor-element.elementor-element-f78aecc.uael-button-stack-mobile .uael-dual-button-wrap .uael-button-wrapper {
        margin-bottom: calc(10px / 2);
        margin-top: calc(10px / 2);
        margin-right: 0;
        margin-left: 0;
    }

    .elementor-6 .elementor-element.elementor-element-f78aecc.uael-button-stack-mobile .uael-dual-button-wrap .uael-button-wrapper:last-child {
        margin-bottom: 0;
    }

    .elementor-6 .elementor-element.elementor-element-f78aecc.uael-button-stack-mobile .uael-dual-button-wrap .uael-button-wrapper:first-child {
        margin-top: 0;
    }
}